<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.eventlocator.eventlocator">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <application
        android:allowBackup="true"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.EventLocator"
        android:usesCleartextTraffic="true">
        <receiver android:name=".utilities.NotificationBroadcastReceiver"/>
        <activity
            android:name=".ui.ViewMyFeedbackActivity"
            android:label="Feedback">
        </activity>

        <service
            android:name=".utilities.MessagingService"
            android:enabled="true"
            android:exported="true"
            android:stopWithTask="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDplPLPkGMXu35fWIZlG4n_x7xzarQjhMk" />

        <activity
            android:name=".ui.ViewImageActivity"
            android:theme="@style/Theme.EventLocator.NoActionBar" />
        <activity
            android:name=".ui.ViewLocationActivity"
            android:label="View Location">
        </activity>
        <activity android:name=".ui.QRCodesActivity"
            android:label="QRCodes"/>
        <activity android:name=".ui.SearchOrganizersActivity"
            android:label="Search Organizers"/>
        <activity android:name=".ui.FollowedOrganizersActivity"
            android:label="Followed Organizers"/>
        <activity android:name=".ui.RateEventActivity"
            android:label="Rate Event"/>
        <activity
            android:name=".ui.OrganizerEventsActivity"
            android:launchMode="singleTask"
            android:label="Organizer's Events"/>
        <activity android:name=".ui.ViewEventActivity"
            android:label="Event"/>
        <activity
            android:name=".ui.OrganizerProfileActivity"
            android:label="Organizer's Profile"
            android:launchMode="singleTask" />
        <activity android:name=".ui.ChangePasswordActivity"
            android:label="Change Password"/>
        <activity android:name=".ui.UpdateEmailActivity"
            android:label="Update Email"/>
        <activity
            android:name=".ui.EditProfileActivity"
            android:launchMode="singleTask"
            android:label="Edit Profile"/>
        <activity android:name=".ui.SignUpActivity"
            android:label="Sign Up"/>
        <activity android:name=".ui.LoginActivity"
            android:label="Login"/>
        <activity android:name=".ui.WelcomeActivity"
            android:label="Welcome"/>
        <activity
            android:name=".ui.EventsActivity"
            android:launchMode="singleTask"
            android:label="@string/app_name"
            android:theme="@style/Theme.EventLocator.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ParticipantEventsActivity"
            android:launchMode="singleTask"
            android:label="My Events"
            android:theme="@style/Theme.EventLocator.NoActionBar" />
    </application>

</manifest>